@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ff0157;
    --main-text-color: #5C5C5C;
    --page-color: #F2F2F2;
    --primary-nav: #333545;
    --secondary-nav: #222539;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a.see-all {
    color: var(--primary-color);
}

.primary-navbar {
    background: var(--primary-nav);
    padding: 1em;

    .container {

        display: flex;
        place-content: space-between;

        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 1.8em;
            margin-left: 1.3em;
    
            span {
                color: var(--primary-color);
            }
        }

        #search {
            width: 60%;
            padding: 1em;
        }

        .nav {
            margin-top: 1em;
            display: flex;

            li {
                margin-right: 1.5em;
            }

            a {
                color: white;
            }
        }

        li.sign-in-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            padding: 0.5em 0.8em;

            &:hover {
                background-color: var(--primary-color);
                color: white;
            }
        }

        li.contact-cta a {
            border-bottom: 2px solid white;
        }
    }
}

.secondary-navbar {
    background: var(--secondary-nav);

    .events {
        display: flex;
        padding: 0.2em;
        justify-content: center;

        a {
            margin: 0 3.8em;
            color: #b9b9b9;
        }

        a:hover {
            color: white;
        }
    }
}

.page {
    h3 {
        display: flex;
        justify-content: center;
        margin: 1em;
        font-weight: 300;
        color: var(--primary-color);
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    p {
        display: flex;
        justify-content: center;
        margin-top: 1.2em;
        margin-left: auto;
        margin-right: auto;
        width: 310px;
        height: 75px;
        text-align: center;
    }

    .contact-form {
        display: flex;
        width: 360px;
        height: 450px;
        padding-top: 3em;
        justify-content: center;
        margin: 2em auto;
        box-shadow: 8px 8px 18px #b9b9b9;

        span {
            margin-left: 1em;
        }

        sup {
            color: red;
        }

        input[type=text] {
            height: 3em;
            width: 110px;
            border: 1px solid #bebfcc;
        }

        textarea {
            border: 1px solid #bebfcc;
        }

        input[type=text]:focus, textarea:focus {
            outline: none;
            border: 1px solid var(--primary-color);
            caret-color: var(--primary-color);
        }
        
        #email {
            width: 220px;
        }

        .send-message {
            background-color: var(--primary-color);
            padding: 0.8em;
            cursor: pointer;
            text-align: center;

            a {
                color: white;
            }
        }
    }
}