@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ff0157;
    --main-text-color: #5C5C5C;
    --page-color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a.see-all {
    color: var(--primary-color);
}

.primary-navbar {
    background: #333545;
    padding: 1em;

    .container {

        display: flex;
        place-content: space-between;

        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 1.8em;
            margin-left: 1.3em;
    
            span {
                color: var(--primary-color);
            }
        }

        #search {
            width: 60%;
            padding: 1em;
        }

        .nav {
            margin-top: 1em;
            display: flex;

            li {
                margin-right: 1.5em;
            }

            a {
                color: white;
            }
        }

        li.sign-in-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            padding: 0.5em 0.8em;

            &:hover {
                background-color: var(--primary-color);
                color: white;
            }
        }
    }
}

.secondary-navbar {
    background: #222539;

    .events {
        display: flex;
        padding: 0.2em;
        justify-content: center;

        a {
            margin: 0 3.8em;
            color: #b9b9b9;
        }

        a:hover {
            color: white;
        }
    }
}

.hero {
    max-width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
    position: relative;

    .btn {
        position: absolute;
        top: 40%;
        margin-top: 20px;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        background-color: rgba(95, 106, 117, 0.3);
        z-index: 1;
        line-height: 40px;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgba(95, 106, 117, 0.5);
        cursor: pointer;
    }

    .btn.next {
        right: 25px;
        font-size: 1.3em;
    }
    
    .btn.prev {
        left: 25px;
        font-size: 1.3em;
    }

    .scroller {
        overflow-x: hidden;
        display: flex;
        scroll-snap-type: x mandatory;

        .item {
            min-width: 100%;
            min-height: 200px;
            background-color: #EDF2F7;
            scroll-snap-align: center;
            background-color: white;
            margin-bottom: 10px;

            img {
                background-color: rgb(237, 242, 247);
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
                z-index: 1;
            }
        }
    }
}

.page {
    background-color: var(--page-color);

    .recommendations {
        margin: 20px 20em;
    
        h2 {
            color: var(--main-text-color);
            margin-top: 2.3em;
        }
    
        nav {
            margin-top: 3.8em;
            margin-right: 1.5em;
            float: right;
    
            a:hover {
                text-decoration: underline;
            }
        }
    
        .container{
            display: flex;
    
            .card {
                margin: 1em 1.5em;
                border-radius: 10px;
                width: 200px;
                height: 350px;
    
                img {
                    border-radius: 10px;
                }
            }
    
            .details {
                margin-left: 2em;
                max-width: 200px;
    
                h3 {
                    color: black;
                    font-weight: 500;
                }
    
                p {
                    color: var(--main-text-color);
                }
            }
        }
    }
}

